<?php
return array(
    'stefano_db_profiler' => array(
        /**
         * List of all Db adapters which you want to profile
         */
        'dbAdapterServiceManagerKey' => array(
            'Zend\Db\Adapter\Adapter',
        ),
    ),
);